.pv{
  margin:5px 0px;width: 100%;float:right;color:#333; border-radius:10px; text-align:center;
}

.ecran{
  margin:0 auto;width:600px;
}

.ecranArene{
  background-image: url('../assets/bg-arena1.jpg'); height: 320px;
}

.ecranZone{
  margin:0 auto;margin-top:70px;width:600px;height:420px;border:5px solid black;position:absolute;
}

.GBA{
  margin-left:-71px;background-image: url('../assets/screen.png');width:748px;height:650px;position:absolute;z-index:-10;
}

.center{
  text-align:center;
}

.blur  {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  transform: rotate(90deg);
}


.barre{
  margin-top:70px; font-size:14px; border:2px solid #333; float:right;width: 200px; border-radius:20px;height: 65px; background-color:white;
}

.barretop{
  margin-top:20px;
}


.barreclassique{
  height:7px;float:left;background-color:#3498db; color:white; border-radius:10px; text-align:center;
}

.barrevide{
  height:7px;width:10px;float:left; background-color:red; color:white; border-radius:10px; text-align:center;
}
